<!--
<td>{{ item.name }}</td>
<td>{{ item.specialisation }}</td>
<td><button mat-stroked-button (click)="moreClicked();">Подробнее</button></td>
-->
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			{{ item.name }}
		</mat-panel-title>
		<mat-panel-description>
			{{ item.specialisation }}
		</mat-panel-description>
	</mat-expansion-panel-header>

	<p><b>ID: </b>{{ item.id }}</p>
	<mat-divider></mat-divider>

	<p><b>ФИО: </b>{{ item.name }}</p>
	<mat-divider></mat-divider>

	<p><b>Специализация: </b>{{ item.specialisation }}</p>
	<mat-divider></mat-divider>

	<p><b>Стаж: </b>{{ item.yearsOfExperience}} лет</p>
</mat-expansion-panel>
<!--
<mat-list-item role="listitem">
    {{item.title}}
    <button style="margin: 0 10px" *ngIf="!item.isDone" mat-raised-button color="warn" aria-label="Done" (click)="doneClicked()">
        Done
    </button>
    <button style="margin: 0 10px" mat-raised-button color="primary" aria-label="Delete" (click)="deleteClicked()">
        Delete
    </button>
</mat-list-item>
-->
